#keyboard {
	background: #0a0;
	width: 90%;
	height: 400px;
	margin: 0 auto;
}

.key {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	border-radius: 0 0 5px 5px;
}

.white {
	width: calc(100% / 17 - 2px);
	background: #eee;
	border: 1px solid #aaa;
	height: 100%;
}

.white.pressed {
	background: #fff;
}

.black {
	width: calc(70% / 17 - 2px);
	background: #555;
	border: 1px solid #000;
	height: 70%;
	position: relative;
	margin: 0 calc(-70%/34 - 1px);
}

.black.pressed {
	background: #000;
}

#octave {
	font-size: 2em;
	font-weight: bold;
	width: 100%
}

#pedal {
	font-size: 2em;
	font-weight: bold;
	width: 100%
}

#pedal:not(.pressed) {
	color: #aaa;
}

#pedal.pressed {
	color: black;
}